{% if not pageBackground == None %}
<style>
	#{{ pageLayer }} {
	  background: url("{{ pageBackground }}") no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
	}
</style>
{% endif %}

{% if pageType == 'cover' %}
<div class="whitePane page cover" id = {{ pageLayer }}>
{% elif pageType == 'backCover' %}
<div class="whitePane page cover" id = {{ pageLayer }}>
{% else %}
<div class="whitePane page" id = {{ pageLayer }}>
{% endif %}
	<div class="contentbox withImage">
		<h1>{{ pageTitle }}</h1>
		<div class="descriptions half">
			<h2>{{ pageText }}</h2>
		</div>
		<div class="contentImage">
			{% if not pagePic == None %}
		    <img  src= {{ pagePic }} />
			{% endif %}
		</div>
	</div>
</div>