body{
        height:1000%;
    }

    .page{
        position:fixed;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      color:#111;
      text-shadow: 1px 1px 3px #eee;
      box-shadow: 0px -5px 25px #666;
    }
    .contentbox{
        width:100%;
        height:100%;
        /*margin:10% auto;*/
        overflow:auto;
    }

    .descriptionBox{
        font-family: 'Indie Flower', cursive,'Ma Shan Zheng';
        padding:10%;
    }
    .descriptionBox h2{
        font-size: 3vh;
    }
    .half{
        padding: 5%;
        width: 40%;
        float:left;
    }

    .contentImage {
        float: right;
        width: 49%;
        height: 100%;
    }
    .contentImage img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10%;
        height:80%;
    }

    .bookmark{
        color:grey;
        position:fixed;
        right:0px;
        cursor:pointer;
        font-size:18px;
        font-family: 'Indie Flower', cursive;
        z-index:110;
    }
    .bookmark:hover{
        cursor:pointer;
        text-shadow: 5px 5px 10px #666;
    }
    .blackPane{
        background: black;
    }
    .whitePane{
        background: white;
    }
    .silverPane{
        background: silver;
    }


    /*layers*/
    #layer100{
        z-index:100;
    }
    #layer90{
        z-index:90;
    }
    #layer80{
        z-index:80;
    }
    #layer70{
        z-index:70;
    }
    #layer60{
        z-index:60;
    }
    #layer50{
        z-index:50;
    }
    #layer40{
        z-index:40;
    }
    #layer30{
        z-index:30;
    }
    #layer20{
        z-index:20;
    }
    #layer10{
        z-index:10;
    }


    /*tags for each section*/
    #layer100tag{
        top:5%;
    }
    #layer90tag{
        top:10%;
    }
    #layer80tag{
        top:20%;
    }
    #layer70tag{
        top:30%;
    }
    #layer60tag{
        top:40%;
    }
    #layer50tag{
        top:50%;
    }
    #layer40tag{
        top:60%;
    }
    #layer30tag{
        top:70%;
    }
    #layer20tag{
        top:80%;
    }
    #layer10tag{
        top:85%;
    }

    .cover{
      background: url("/static/book1/bg.png") no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    #pageIndexToggle{
        z-index: 110;
        position:fixed;
        top:0px;
        right:0px;
        width: 30px;
        height:30px;
        background: url("/static/bookmark-512px.png") no-repeat center center;
        background-size: cover
    }
    #save_button{
        color:grey;
        position:fixed;
        right:0px;
        bottom: 5px;
        cursor:pointer;
        font-size:18px;
        font-family: 'Indie Flower', cursive;
        z-index:110;
    }