<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="form-group row">
    <div class="input-group mb3">
    <label for="{{ page_id }}pageTitle" class="col-2 col-form-label">{{ page_id }} Title</label>
<!--        <div class="col-sm-10">-->
            <input class="form-control" name="{{ page_id }}pageTitle" id="{{ page_id }}pageTitle" type="text" value="{{ page_title }}"/>
<!--        </div>-->
    </div>

    <div class="input-group">
        <label for="{{ page_id }}pageText" class="col-2 col-form-label">{{ page_id }} Text</label>
            <textarea class="form-control" name="{{ page_id }}pageText" id="{{ page_id }}pageText" type="text" >
                {{ page_text }}
            </textarea>
    </div>

    <div class="input-group">
        <label for="{{ page_id }}imageURL" class="col-2 col-form-label">{{ page_id }} Image URL</label>
<!--        <div class="col-sm-10">-->
        <input class="form-control" name="{{ page_id }}imageURL" id="{{ page_id }}imageURL" type="text" value="{{ page_image_url }}"/>
<!--        </div>-->
    </div>

    <div class="input-group">
        <label for="{{ page_id }}backgroundURL" class="col-2 col-form-label">{{ page_id }} Background</label>
<!--        <div class="col-sm-10">-->
            <input class="form-control" name="{{ page_id }}backgroundURL" id="{{ page_id }}backgroundURL" type="text" value="{{ page_background_url }}"/>
<!--        </div>-->
    </div>
    <div class="input-group">
        <label for="{{ page_id }}pageType" class="col-2 col-form-label">{{ page_id }} Page Type</label>
<!--        <div class="col-sm-10">-->
        <select class="form-control" name="{{ page_id }}pageType" id="{{ page_id }}pageType">
            <option value="dualPage">Image Fill</option>
            <option value="content" selected>Image Float</option>
            <option value="textContent" selected>No Image</option>
        </select>
<!--        </div>-->
    </div>
</div>

