<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="container">
<form action="/book_generator?overwrite={{ overwrite }}" method="post" name="bookInputForm" class="form-group row">
    <div class="input-group">
        <label for="bookTitle" class="col-2 col-form-label">book Title</label>
<!--        <div class="col-sm-10">-->
            <input class="form-control" name="bookTitle" id="bookTitle" type="text" value="{{ book_title }}"/>
<!--        </div>-->
    </div>
    {{ page1_input|safe }}
    {{ page2_input|safe }}
    {{ page3_input|safe }}
    {{ page4_input|safe }}
    {{ page5_input|safe }}
    {{ page6_input|safe }}
    {{ page7_input|safe }}
    {{ page8_input|safe }}
    {{ page9_input|safe }}
    {{ page10_input|safe }}
    <input value="Preview" type="submit" onclick="submitform()">
</form>
</div>
<!--<script type="text/javascript">-->
<!--    function submitform(){-->
<!--        alert("Sending Json");-->

<!--        var formData = JSON.stringify($("#bookInputForm").serializeArray());-->

<!--        var xhr = new XMLHttpRequest();-->
<!--        xhr.open(form.method, form.action, true);-->
<!--        xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');-->
<!--        var j = {-->
<!--            "first_name":"binchen",-->
<!--            "last_name":"heris",-->
<!--        };-->
<!--        xhr.send(JSON.stringify(j));-->